@import "https://fonts.googleapis.com/css2?family=Inter&display=swap";
:root {
  --morning: url("./resources/images/night.webp");
  --afternoon: url("./resources/images/afternoon.webp");
  --night: url("./resources/images/night.webp");
}

* {
  padding: 0;
  margin: 0;

  font-family: Inter, sans-serif;
  color: white;
  font-weight: 400;
  font-style: normal;
  line-height: normal;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 200, "opsz" 48;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: var(--night);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: contain;
  display: flex;
  justify-content: center;
  transition: background-image linear 0.1s;
}

#queryWeather {
  height: 5%;
  width: 22%;
  margin-top: 14%;
  padding-left: 0.8rem;
  border: none;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.26);
  backdrop-filter: blur(12.5px);
  transition: cubic-bezier(0.19, 0.98, 0.19, 0.97) 0.6s;
}

#queryWeather:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.452);
}

#queryWeather::placeholder {
  color: #cecece;
}

#leftPane {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 25%;
  padding-left: 4rem;
  padding-top: 10rem;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.61) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

#leftPane h2 {
  color: #a3a3a3;
}

#leftPane h1 {
  margin-bottom: 0.8rem;
}

#temp {
  font-size: 52px;
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

#leftPane span {
  font-size: 120px;
}

#rightPane {
  position: absolute;
  left: 75%;
  top: 0;
  height: 100%;
  width: 25%;
  padding-left: 7rem;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0.61) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.rightInfo {
  display: flex;
  gap: 0.4rem;
}

.rightInfo * {
  color: #f4f4f4;
}

.rightInfo span {
  font-size: 40px;
}

.rightInfoContainer h1 {
  padding-left: 3rem;
}

#bottomPane {
  position: absolute;
  left: 0;
  top: 75%;
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.51) 0%,
    rgba(0, 0, 0, 0) 26.69%
  );
}

#bottomPane h3 {
  width: 100%;
  padding-left: 4rem;
}

#forcastContiner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 5rem;
}

.forcast {
  width: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.transparentBox {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #cdcdcd;

  border-radius: 7px;
  background: rgba(252, 252, 252, 0.158);
  backdrop-filter: blur(15px);
}

.transparentBox span {
  color: #ff9846;
  font-size: 50px;
}

.day {
  color: #a3a3a3;
  height: 10%;
}
